body { 
  height: 100vh;
  width: 100vw;
  background-color: #f8f0e9;
  padding-top: 6%;
}

#calculator {
  display: grid;
  grid-template-rows: 25% 75%;
  height: 70%;
  width: 38%;
  background-color: #b88c8c;
  margin: auto;
  border-radius: 5px;
}

#screen {
  background-color: #e0e2e8;
  border-radius: 2px;
  grid-row: 1 / 2;
  margin: 3%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

#text {
  color: rgb(99, 96, 96);
  position: absolute;
  text-align: right;
  bottom: 0;
  font-size: 90px;
  line-height: .8;
}

.button-container {
  display: grid;
  grid-template-rows: repeat(5, 20%);
  grid-template-columns: repeat(4, 1fr);
}

.equal {
  grid-column: 3 / 5;
}

.button-container button {
  border-radius: 50px;
  margin: 8%;
  background-color: #f3f3f4d1;
}

